project:
  type: website
  output-dir: docs
  execute-dir: project


website:
  title: "Modelación Ambiental en Guatemala"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd
  sidebar:
    style: "docked"
    search: true
    contents:
      - text: "Modelación económico-ambiental"
        href: 01_modelacion_economico_ambiental.qmd

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



